.nav-bar {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0px 15px;
    align-items: center;
    border-bottom:2px solid #e2e2e2;
    background-color: white;
    
}
.nav-bar-heading {
    color: #343C6A;
    font-family: 'Inter';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-grow:1;
}
.add-transaction-btn {
    margin:0px;
    border-radius: 10px;
    display: flex;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    font-weight:normal;
    width:150px;
    justify-self: flex-end;
    margin-left:auto;
}
.add-icon {
    color:white;
}
.add-transaction-popup {
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.trans-type-btn1 {
    align-self: flex-end;
    margin-left:auto;
    background-color: transparent;
    margin:0px;
}
.display{
    display:none;
}
@media(max-width:576px){
    .add-transaction-btn  {
        width:40px;
    }
    .add-transaction-btn  >p{
        display:none;
        width:40px;
    }
}