.table-heading {
    color: #343C6A;
font-family: 'Inter';
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
width:20%;
text-align: center;
}
.transaction-header {
    display:flex;
    justify-content: space-between;
    border-bottom:2px solid #e2e2e2;
}
.transactions-container {
    background-color: white;
    margin:10px;
    border-radius:20px;
    margin-top:8px;
}
.trans-type-btn {
    background-color: transparent;
    border-width:0px;
    color: #718EBF;
    text-align: center;
    font-family: 'Inter';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
    margin-top:10px;  
    margin-bottom:10px;
    width:200px;
    margin-left:8px;
}
.select-transaction-type-bar {
    display:flex;
    flex-direction: row;
}
.highlight2 {
    color:#2d60ff;
    border-bottom:5px solid #2d60ff;
    
}
@media(max-width:576px){
    .transaction-header{
        display:none;
    }
    .select-transaction-type-bar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:auto;
    }
}
