.details-container1 {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #718EBF;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    width:100%;
    
}
.details-container1 > p {
    text-align: center;
}
.list-item{
    display:flex;
    flex-direction: column;
}
.hr {
    color:#e2e2e2;
    border:2px solid #e2e2e2;
}
.name-container {
    display: flex;
    
    align-items: center;
    color: #505887;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width:20%;
}
.transaction-name{
    padding-left:8px;
}
.icons-container1 {
    display:flex;
    justify-content:space-between;
}
.edit-btn {
    background-color:transparent;
}
.sub {
    display:flex;
    align-items: center;
}
.trans-type-btn1 {
    
    border-radius:100%;
    text-align:center;
    color:white;
    height:50px;
    width:50px;
    padding:10px;
    margin:10px;

}